@import "../../style/input.scss";

.logo-text {
    font-size: 3rem;
    text-align: center;
    color: #444;
    margin-top: 30vh;
}
.box-input-name {
    @include input-box(#90a4ae, #78909c);
    max-width: 300px;
    margin: auto;
}
.padding-top {
    padding-top: 20px;
}
.wrap-error-msg {
    height: 42px;


    .input-error {
        background: #f44336;
        color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 3px;
    }
}
