<div>
    <div class="logo-text">
        TODO-LIST
    </div>

    <div class="box-input-name">
        <div class="input-field text-gray">
            <input type="text" id="input-user" [(ngModel)]="formInput.username" (keyup)="onkeyInput($event)">
            <label for="input-user">Username</label>
        </div>
        <div class="input-field text-gray">
            <input type="password" id="input-pass" [(ngModel)]="formInput.password" (keyup)="onkeyInput($event)">
            <label for="input-pass">Password</label>
        </div>

        <div class="wrap-error-msg">
            <div class="input-error scale-transition" [class]="{'scale-out' : errorMsg.length == 0}">{{errorMsg}}</div>
        </div>

        <div class="row padding-top">
            <div class="col s6">
                <button class="d-block w-100 waves-effect blue-grey lighten-4 btn" (click)="sendRegister()">Register</button>
            </div>
            <div class="col s6">
                <button class="d-block w-100 waves-effect blue-grey btn" (click)="sendAuth()">Login</button>
            </div>
            <div class="col s12 padding-top">
                <button class="d-block w-100 waves-effect waves-teal btn-flat" (click)="skipLogout()">SKIP LOGIN</button>
            </div>
        </div>
    </div>
</div>
